
.panel-menu-data {
    padding: 5px;
    y_expand: true;
    y_align: center;
}


.popup-netatmo-device {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid hotpink;
}

.popup-netatmo-module {
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    border-top: 1px solid lightgray;
}
.popup-netatmo-item {
    font-size: 13px;
    padding-left: 15px;
}
.popup-netatmo-subitem {
    font-size: 12px;
    padding-left: 25px;
}

.popup-netatmo-title-date {
}

.popup-netatmo-title-date {
    padding-left: 1em;
    padding-top: 1px;
    font-size: 12px;
    font-weight: normal;
}

.popup-netatmo-title-icon {
    padding-left: 1em;
    /*text-align: right;*/
}